@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

  #header {
    padding: 10px 50px
  }

  .social {
    display: none;
  }

  .searchform input[type=submit] {
    display: none;
  }

  #single_video .video iframe, #single_blog .video iframe {
    height: 540px;
  }

  #forside .forside-slider .subheaderText {
    width: 100%;

  }


  .subheader .subheaderText {
    width: 90%;
    top: 35%;
  }





  section {
    padding: 25px 0;
  }

}

@media screen and (max-width: 768px) {






  #forside .artikler article, #forside .podcasts article {
    height: auto;
    max-height: unset;
  }

  #forside .artikler .dato_medarbejder, #videoer .artikler .dato_medarbejder, #blog .artikler .dato_medarbejder, #hurtig_snas .artikler .dato_medarbejder, #anmeldelser .artikler .dato_medarbejder {
    position: relative;
  }



  #single_video .video iframe, #single_blog .video iframe {
    height: 400px;
  }




  .searchform input[type=text] {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 80px;
  }


  .mobilmenu-ms .searchform {
    display: flex;
    justify-content: center;
  }



  .scrollup {
    bottom: 9%;
  }





}


@media screen and (max-width: 425px) {
  #mobilmenu {
    display: block;
  }
  #header {
    padding: 10px;
  }
  #header #logo {
    text-align: center;
  }
  #header .main_menu {
    display: none;
  }
  #header .searchform {
    display: none;
  }

  .scrollup {
    display: none;
  }

  #forside .forside-slider {
    padding: 0;
    height: auto;
  }


  #forside .forside-slider .subheaderText h6 {
    padding-top: 25px;
  }

  #forside .forside-slider .subheaderText .cta_btn, #forside .forside-slider .subheaderText a.cta_btn {
    display: block;
  }

  

  #single_video .video iframe, #single_blog .video iframe {
    height: 240px;
  }

  #single_video .video_fakta .medarbejder p, #single_blog .video_fakta .medarbejder p {
    float: none;
  }
  #videoer .post_nav, #hurtig_snas .post_nav, #anmeldelser .post_nav, #blog .post_nav {
    padding: 30px 0;
  }
  #videoer .post_nav a, #hurtig_snas .post_nav a, #anmeldelser .post_nav a, #blog .post_nav a {
    padding: 10px;
  }
  #single_team .team_info p {
    padding: 0 25px;
  }
  #single_team .team_4_hurtige figure img {
    max-width: 50px;
  }

  .nospace_mobil {
    padding: 0 !important;
    margin: 0 !important;
  }
  .padall50 {
    padding: 25px;
  }

  .subheader .subheaderText {
    width: 90%;
    top: 15%;
  }

  


  
}



@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
  
  

 
  #single_video .video iframe, #single_blog .video iframe {
    height: 180px;
  }
  



}
