
@media screen and (max-width: 320px) 

    #mobilmenu
        display: block

    #header
        padding: 10px

        #logo
            text-align: center

        .main_menu
            display: none


        .searchform
            display: none

    .social
        display: none
        
    #forside

        .forside-slider

            padding: 0
            height: 100vh
            .sliderindhold
                width: 100%

                h6
                    padding-top: 25px

                .cta_btn, a.cta_btn
                    display: block


    #forside, #videoer, #blog, #hurtigsnas
        .artikler
            .dato_medarbejder
                position: relative

    .scrollup
        display: none


    
    #single_video, #single_blog

        .video
        
            iframe
                height: 180px



        .video_fakta
            .medarbejder
                p
                    float: none


    #videoer, #hurtig_snas, #anmeldelser, #blog
        .post_nav
            padding: 30px 0

            a
                padding: 10px



    #single_team
        .team_info
            p
                padding: 0 25px

        .team_4_hurtige
            figure 
                img
                    max-width: 50px


    section
        padding: 25px 0

    .nospace_mobil
        padding: 0!important
        margin: 0!important
                
    .padall50
        padding: 25px


