@charset "UTF-8";
/* Theme Name: Gametest
 * Author: Morten Nielsen
 * Description: Bootstrap Blog template converted to WordPress
 * Version: 0.0.1
 * Tags: bootstrap */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  background-color: #454545;
  width: 100%;
}

#header {
  background-color: #5c1746;
  background: linear-gradient(right, rgba(92, 23, 70, 0.7), rgba(0, 0, 0, 0.7));
  background: -webkit-linear-gradient(right, rgba(92, 23, 70, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 10;
  width: 100%;
  padding: 0px 125px;
  -webkit-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

#logo img {
  width: 175px;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

#menu-primaer_menu-1 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-primaer_menu-1 .current_page_item a {
  color: #F2C22A !important;
}

#menu-primaer_menu-1 .current-menu-parent > a {
  color: #F2C22A !important;
}

#menu-primaer_menu-1 a {
  color: #ffffff;
  padding: 25px 0;
}

#menu-primaer_menu-1 a:hover {
  color: #F2C22A;
  text-decoration: none;
}

.main_menu {
  width: 100%;
}

ul.menu, ul.menu ul, ul.menu li, ul.menu a {
  display: block;
  margin: 0;
  padding: 0;
}

ul.menu ul {
  display: none;
}

ul.menu li:hover > ul {
  display: block;
  position: absolute;
  background-color: #262626;
  box-shadow: 0 0.25em 0 0 #2a2a2a, 0 4px 9px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  z-index: 99;
}

.sub-menu li a {
  margin: 10px 0;
  padding: 0 !important;
}

form {
  margin: 0;
}

form input[type=submit] {
  cursor: pointer;
  height: 30px;
}

.søgeresultater p {
  max-width: 480px;
}

.søgeresultater a {
  color: #ffffff;
  padding: 25px 0;
}

.søgeresultater h2 {
  color: #ffffff;
  padding-bottom: 50px;
}

.social {
  position: fixed;
  top: 15%;
  z-index: 100;
  left: 0;
  width: 0;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

.social ul li {
  display: block;
  margin: 5px;
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.social ul li:hover {
  -webkit-transform: translate(170px, 0);
  -moz-transform: translate(170px, 0);
  -ms-transform: translate(170px, 0);
  -o-transform: translate(170px, 0);
  transform: translate(170px, 0);
}

.social ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}

.social ul li:hover i {
  background: #ffffff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social ul li i {
  margin-left: 10px;
  color: #454545;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.social ul a {
  color: #ffffff;
  text-decoration: none;
}

.socialMobil {
  position: fixed;
  bottom: 0;
  z-index: 99;
  left: 0;
  min-width: 100%;
}

.socialMobil ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.socialMobil ul li {
  width: 100%;
  list-style: none;
  text-align: center;
}

.socialMobil ul li a {
  padding: 10px 40px;
}

.socialMobil ul i {
  color: #ffffff !important;
  padding: 15px 0;
}

.forside-slider {
  width: 100%;
  color: #ffffff;
  height: 400px;
}

.forside-slider .subheaderText {
  position: absolute;
  z-index: 9;
  top: 0;
  min-width: 100%;
}

.forside-slider .subheaderText p {
  margin: 25px 0 50px;
}

.forside-slider .subheaderText h6 {
  padding-top: 75px;
}

.forside-slider .subheaderText h2 {
  padding: 0;
}

.forside-slider .sub-image {
  overflow: hidden;
  max-height: 400px;
}

.forside-slider .sub-image img {
  min-width: 100%;
}

.subheader {
  padding: 0 !important;
}

.subheader .subheaderText {
  position: absolute;
  z-index: 9;
  top: 45%;
  min-width: 100%;
}

.subheader .subheaderText h2, .subheader .subheaderText p {
  color: #ffffff;
  text-decoration: none;
}

.subheader .subheaderText a {
  color: #F2C22A;
  text-decoration: none;
}

.subheader .subheaderText .citat {
  font-style: italic;
}

.subheader .sub-image {
  overflow: hidden;
  max-height: 400px;
}

.subheader .sub-image img {
  min-width: 100%;
}

#forside .arkiv_indhold .playIkon {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
}

#forside .arkiv_indhold h3, #forside .arkiv_indhold p {
  color: #ffffff;
  text-decoration: none;
}

#forside .arkiv_indhold p {
  margin: 0;
}

#forside .arkiv_indhold h2 {
  background-color: #262626;
  color: #ffffff;
}

#forside .artikler, #forside .podcasts {
  padding: 0;
}

#forside .artikler .se_alle, #forside .podcasts .se_alle {
  background-color: #F2C22A;
  text-align: center;
  padding: 20px;
}

#forside .artikler .se_alle h3, #forside .podcasts .se_alle h3 {
  margin: 0;
}

#forside .artikler .se_alle a, #forside .podcasts .se_alle a {
  color: #ffffff;
  text-decoration: none;
}

#forside .artikler a, #forside .podcasts a {
  text-decoration: none;
}

#forside .artikler article, #forside .podcasts article {
  height: 200px;
  max-height: 200px;
  background-color: #313131;
  margin: 10px 0;
}

#forside .artikler img, #forside .podcasts img {
  width: 100%;
  height: auto;
}

#forside .artikler .dato, #forside .podcasts .dato {
  margin-left: 0;
}

#forside .artikler .medarbejder, #forside .podcasts .medarbejder {
  color: #ffffff;
  margin-left: 5px;
}

#forside .artikler .dato_medarbejder, #forside .podcasts .dato_medarbejder {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#forside .artikler .dato_medarbejder p:last-child span, #forside .podcasts .dato_medarbejder p:last-child span {
  display: none;
}

#forside .artikler .dato_medarbejder p, #forside .podcasts .dato_medarbejder p {
  font-weight: 800;
  font-size: 0.750rem;
}

#forside .artikler .dato_medarbejder .dato, #forside .podcasts .dato_medarbejder .dato {
  float: right;
}

#videoer .arkiv_indhold .playIkon, #blog .arkiv_indhold .playIkon {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
}

#videoer .arkiv_indhold h3, #videoer .arkiv_indhold p, #videoer .arkiv_indhold h4, #blog .arkiv_indhold h3, #blog .arkiv_indhold p, #blog .arkiv_indhold h4 {
  color: #ffffff;
  text-decoration: none;
}

#videoer .arkiv_indhold h2, #blog .arkiv_indhold h2 {
  background-color: #262626;
  color: #ffffff;
}

#videoer .artikler a, #videoer .podcasts a, #blog .artikler a, #blog .podcasts a {
  text-decoration: none;
}

#videoer .artikler article, #videoer .podcasts article, #blog .artikler article, #blog .podcasts article {
  background-color: #313131;
  margin: 10px 0;
}

#videoer .artikler img, #videoer .podcasts img, #blog .artikler img, #blog .podcasts img {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: auto;
}

#videoer .artikler .medarbejder, #videoer .podcasts .medarbejder, #blog .artikler .medarbejder, #blog .podcasts .medarbejder {
  margin-left: 5px;
}

#videoer .artikler .dato_medarbejder, #videoer .podcasts .dato_medarbejder, #blog .artikler .dato_medarbejder, #blog .podcasts .dato_medarbejder {
  position: absolute;
  bottom: 0;
}

#videoer .artikler .dato_medarbejder p, #videoer .podcasts .dato_medarbejder p, #blog .artikler .dato_medarbejder p, #blog .podcasts .dato_medarbejder p {
  font-weight: 800;
  font-size: 0.875rem;
}

#videoer .post_nav, #blog .post_nav {
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

#videoer .post_nav a, #blog .post_nav a {
  background-color: #F2C22A;
  color: #ffffff;
  padding: 15px 20px;
  margin: 0 20px 50px;
}

#videoer .post_nav a:hover, #blog .post_nav a:hover {
  background-color: #FDD247;
}

.cta_btn:hover, a.cta_btn:hover {
  background-color: #FDD247;
  border: 3px solid #FDD247;
}

#single_video .video iframe, #single_blog .video iframe {
  width: 100%;
  height: 620px;
}

#single_video .beskrivelse, #single_blog .beskrivelse {
  background-color: #313131;
  color: #ffffff;
}

#single_video .video_fakta, #single_blog .video_fakta {
  background-color: #262626;
  color: #ffffff;
}

#single_video .video_fakta a, #single_blog .video_fakta a {
  color: #F2C22A;
}

#single_video .video_fakta .medarbejder p, #single_blog .video_fakta .medarbejder p {
  float: right;
  font-size: 0.750rem;
}

#single_video .video_fakta .kategori, #single_blog .video_fakta .kategori {
  margin: 25px 0;
  width: 100%;
}

#single_video .video_fakta .kategori p, #single_blog .video_fakta .kategori p {
  color: #ffffff;
  font-size: 0.750rem;
  font-weight: 300;
  margin: 0;
}

#single_video .video_fakta .kategori a, #single_blog .video_fakta .kategori a {
  font-size: 0.875rem;
  font-weight: 600;
}

#single_video .video_fakta .kategori p, #single_video .video_fakta .kategori a, #single_blog .video_fakta .kategori p, #single_blog .video_fakta .kategori a {
  float: right;
  clear: both;
}

#single_video .social_share p, #single_blog .social_share p {
  float: right;
  font-size: 0.750rem;
  font-weight: 300;
  margin: 0 !important;
}

#single_video .social_share_a img, #single_blog .social_share_a img {
  width: 40px;
}

#single_team {
  background-color: #ffffff;
}

#single_team .team_info {
  background-color: #f5f5f5;
}

#single_team .team_info img {
  border-radius: 50%;
  margin-bottom: 25px;
}

#single_team .team_info h1 {
  margin: 0;
}

#single_team .team_info h4 {
  font-weight: 300;
  margin: 15px 0 25px;
}

#single_team .team_info p {
  font-size: 1rem;
  padding: 0 100px;
  margin: 25px 0;
}

#single_team .team_4_hurtige figure {
  margin-right: 20px;
}

#single_team .team_4_hurtige figure img {
  max-width: 80px;
  margin: auto;
  display: block;
}

#fb_comment {
  background-color: #ffffff;
}

#omos {
  background-color: #ffffff;
}

#omos img {
  margin-bottom: 10px;
}

.team {
  background-color: #f5f5f5;
}

.team a {
  padding: 10px;
  color: #313131;
  border-radius: 100px;
  max-width: 150px;
  margin: 10px auto;
  border: 1px solid #313131;
  text-decoration: none;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.team a:hover {
  background-color: #313131;
  color: #ffffff;
}

.team h5 {
  margin-top: 10px;
}

.team h5, .team h7 {
  color: #313131;
  text-decoration: none;
}

#footer {
  color: #ffffff;
  font-size: 0.75rem;
  background-color: #262626;
}

#footer a {
  color: #F2C22A;
}

.scrollup {
  display: none;
  z-index: 199;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #F2C22A;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  transition: 1s;
  padding: 3px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #313131;
  font-size: 2rem;
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 25px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  font-size: 0.875rem;
  line-height: 1.8;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}

.padding25 {
  padding: 25px 0;
}

.padding50 {
  padding: 50px 0;
}

.padding75 {
  padding: 75px 0;
}

.padding100 {
  padding: 100px 0;
}

.padall25 {
  padding: 25px;
}

.padall50 {
  padding: 50px;
}

.padall75 {
  padding: 75px;
}

.padall100 {
  padding: 100px;
}

.margin25 {
  margin: 25px 0;
}

.margin50 {
  margin: 50px 0;
}

.margin75 {
  margin: 75px 0;
}

.overlay {
  position: absolute;
  top: 0px;
  float: left;
  bottom: 0px;
  min-width: 100%;
  overflow: hidden;
  z-index: 5;
}

.overlay.purpleG {
  background: linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(92, 23, 70, 0.7));
  background: -webkit-linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(92, 23, 70, 0.7));
}

.overlay.blueG {
  background: linear-gradient(right, rgba(59, 189, 152, 0.7), rgba(65, 65, 146, 0.7));
  background: -webkit-linear-gradient(right, rgba(59, 189, 152, 0.7), rgba(65, 65, 146, 0.7));
}

.overlay.pinkG {
  background: linear-gradient(right, rgba(150, 21, 65, 0.7), rgba(224, 109, 138, 0.7));
  background: -webkit-linear-gradient(right, rgba(150, 21, 65, 0.7), rgba(224, 109, 138, 0.7));
}

.overlay.redG {
  background: linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(225, 97, 74, 0.7));
  background: -webkit-linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(225, 97, 74, 0.7));
}

.overlay.orangeG {
  background: linear-gradient(right, rgba(235, 90, 51, 0.7), rgba(227, 177, 60, 0.7));
  background: -webkit-linear-gradient(right, rgba(235, 90, 51, 0.7), rgba(227, 177, 60, 0.7));
}

.overlay.yellowG {
  background: linear-gradient(right, rgba(253, 195, 11, 0.7), rgba(250, 220, 150, 0.7));
  background: -webkit-linear-gradient(right, rgba(253, 195, 11, 0.7), rgba(250, 220, 150, 0.7));
}

.overlay.greenG {
  background: linear-gradient(right, rgba(37, 210, 30, 0.7), rgba(159, 222, 67, 0.7));
  background: -webkit-linear-gradient(right, rgba(37, 210, 30, 0.7), rgba(159, 222, 67, 0.7));
}

.overlay.blue {
  background: rgba(59, 89, 152, 0.75);
}

.overlay.purple {
  background: rgba(92, 23, 70, 0.75);
}

.overlay.pink {
  background: rgba(150, 21, 65, 0.75);
}

.overlay.red {
  background: rgba(203, 19, 55, 0.75);
}

.overlay.orange {
  background: rgba(235, 90, 51, 0.75);
}

.overlay.yellow {
  background: rgba(253, 195, 11, 0.75);
}

.overlay.green {
  background: rgba(57, 210, 30, 0.7);
}

.facebook-bgcolor {
  background-color: #3b5998 !important;
}

.facebook-color {
  color: #3b5998 !important;
}

.twitter-bgcolor {
  background-color: #00aced !important;
}

.twitter-color {
  color: #00aced !important;
}

.youtube-bgcolor {
  background-color: #FF0000 !important;
}

.youtube-color {
  color: #FF0000 !important;
}

.itunes-bgcolor {
  background-color: #be64f7 !important;
}

.itunes-color {
  color: #be64f7 !important;
}

.cta_btn, a.cta_btn {
  background-color: #F2C22A;
  color: #ffffff;
  border: 3px solid #F2C22A;
  text-decoration: none;
  padding: 15px 60px;
  margin: 20px 10px 20px 0px;
  font-size: 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: .02em;
  border-radius: 5px;
  transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
  -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
  -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cta_btn:hover, a.cta_btn:hover {
  background-color: #FDD247;
  border: 3px solid #FDD247;
}

.cta_btn.cta_btn_2, a.cta_btn.cta_btn_2 {
  background: 0;
  color: #ffffff;
  border: 3px solid #F2C22A;
}

.cta_btn.cta_btn_2:hover, a.cta_btn.cta_btn_2:hover {
  background-color: #FDD247;
  border: 3px solid #FDD247;
}

.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

.cta {
  padding: 15px 20px;
  color: #ffffff;
  background-color: #313131;
  box-shadow: 0 0.25em 0 0 #2a2a2a, 0 4px 9px rgba(0, 0, 0, 0.75);
  border-radius: 0.25em;
}

section {
  min-width: 100%;
  max-width: 100%;
  position: relative;
  padding: 75px 0;
}

.screen-reader-text {
  display: none;
}

.searchform {
  margin: 0;
  padding: 0;
}

._5lm5._2pi3._3-8y {
  display: none !important;
}

.slick-dots button:before {
  color: #F2C22A !important;
}

.mobilmenu-ms.open {
  background-color: #262626;
}
