/* Theme Name: Gametest
 * Author: Morten Nielsen
 * Description: Bootstrap Blog template converted to WordPress
 * Version: 0.0.1
 * Tags: bootstrap */
 
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900')
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,800,900')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')
$color: #97274F
$color_light: #519b9b
$black: #313131
$black_light: #454545
$black_dark: #262626
$white: #ffffff
$grey: #7a7a7a
$grey_light: #f5f5f5
$gul: #F2C22A
$gul_light: #FDD247
$font: Raleway, sans-serif
$font_p: Roboto, sans-serif
$purple2_g: rgba(92,23,70,0.7)
$purple1_g: rgba(203,19,55,0.7)
$black_g: rgba(0,0,0,0.7)


body 
    font-family: $font
    font-size: 16px
    background-color: $black_light
    width: 100%
    //background-image: url("https://rasmusra.dk/wordpress/filer/GT_test.png")
    





// ----- Header -----//

#header 
    
    background-color: #5c1746
    background: linear-gradient(right, $purple2_g, $black_g) 
    background: -webkit-linear-gradient(right, $purple2_g, $black_g) 
    z-index: 10
    width: 100%
    padding: 0px 125px
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)
    box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)
    -webkit-transition: all .4s ease-out
    -o-transition: all .4s ease-out
    transition: all .4s ease-out
    
#logo
  img
    width: 175px
    -webkit-transition: all .4s ease-out
    -o-transition: all .4s ease-out
    transition: all .4s ease-out
    

 
    
// ----- Menu -----//

#menu-primaer_menu-1
    display: flex
    justify-content: space-around
    align-items: baseline
    list-style: none
    margin: 0
    padding: 0 

    .current_page_item
        a
            color: $gul !important

    .current-menu-parent
        > a
            color: $gul !important


    



    a 
        color: $white
        padding: 25px 0
  
        &:hover
            color: $gul
            text-decoration: none




 
.main_menu 
  width: 100%


// ----- Menu dropdown -----//

ul.menu,ul.menu ul,ul.menu li,ul.menu a 
    display: block
    margin: 0
    padding: 0


ul.menu ul 
    display: none


ul.menu li:hover > ul 
    display: block
    position: absolute
    background-color: $black_dark
    box-shadow: 0 0.25em 0 0 #2a2a2a, 0 4px 9px rgba(0,0,0,0.75)
    padding: 10px 20px
    z-index: 99
    
    
.sub-menu li a
    margin: 10px 0
    padding: 0 !important


// ----- Søg from -----//

form
    margin: 0


    input[type=submit]
        cursor: pointer
        height: 30px

// ----- Søgeresultater -----//
.søgeresultater

    p
        max-width: 480px
    a
        color: $white
        padding: 25px 0 

    h2
        color: $white
        padding-bottom: 50px


// ----- Social icons -----//
    
.social 
  position: fixed
  top: 15%
  z-index: 100
  left: 0
  width: 0
  
  
  ul 
    padding: 0px
    -webkit-transform: translate(-250px, 0)
    -moz-transform: translate(-250px, 0)
    -ms-transform: translate(-250px, 0)
    -o-transform: translate(-250px, 0)
    transform: translate(-250px, 0)
    li 
      display: block
      margin: 5px
      width: 300px
      text-align: right
      padding: 10px
      -webkit-border-radius: 0 30px 30px 0
      -moz-border-radius: 0 30px 30px 0
      border-radius: 0 30px 30px 0
      -webkit-transition: all 1s
      -moz-transition: all 1s
      -ms-transition: all 1s
      -o-transition: all 1s
      transition: all 1s
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)

      &:hover 
        -webkit-transform: translate(170px, 0)
        -moz-transform: translate(170px, 0)
        -ms-transform: translate(170px, 0)
        -o-transform: translate(170px, 0)
        transform: translate(170px, 0)
        a 
          color: $white
          text-decoration: none
        
        i 
          background: $white
          -webkit-transform: rotate(360deg)
          -moz-transform: rotate(360deg)
          -ms-transform: rotate(360deg)
          -o-transform: rotate(360deg)
          transform: rotate(360deg)
          -webkit-transition: all 1s
          -moz-transition: all 1s
          -ms-transition: all 1s
          -o-transition: all 1s
          transition: all 1s
        
      
      i 
        margin-left: 10px
        color: $black_light
        padding: 10px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        width: 40px
        height: 40px
        font-size: 20px
        background: #ffffff
        -webkit-transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -ms-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)

    a 
        color: $white
        text-decoration: none
        

.socialMobil
    position: fixed
    bottom: 0
    z-index: 99
    left: 0
    min-width: 100%

    ul
        display: flex
        margin: 0
        padding: 0

        li
            width: 100%
            list-style: none
            text-align: center

            a
                padding: 10px 40px

            

        i
            color: $white !important
            padding: 15px 0

        
    
    
// ----- Slider -----//

    
	
.forside-slider
    width: 100%
    color: $white
    height: 400px



    .subheaderText
        position: absolute
        z-index: 9
        top: 0
        min-width: 100%
        p
            margin: 25px 0 50px

        h6
            padding-top: 75px

        h2
            padding: 0

    .sub-image
        overflow: hidden
        max-height: 400px
        img
            min-width: 100%

	
// ----- Subheader -----//

.subheader
    padding: 0 !important


    .subheaderText
        position: absolute
        z-index: 9
        top: 45%
        min-width: 100%
        
        h2, p  
            color: $white
            text-decoration: none

        a
            color: $gul
            text-decoration: none

        .citat
            font-style: italic
            
    .sub-image
        overflow: hidden
        max-height: 400px
        img
            min-width: 100%



// ----- Forside -----//

#forside

    .arkiv_indhold

        .playIkon
            position: absolute
            left: 0
            right: 0
            margin: auto
            width: 20%
            top: 0
            bottom: 0
            border-radius: 50%
            box-shadow: 0 0 20px 15px rgba(0,0,0,0.50)
        

        h3, p
            color: $white
            text-decoration: none

        p
            margin: 0

        h2
            background-color: $black_dark
            color: $white
        
    .artikler, .podcasts
        padding: 0

        .se_alle
            background-color: $gul
            text-align: center
            padding: 20px

            h3
                margin: 0
            
            a
                color: $white
                text-decoration: none

        a
            text-decoration: none
            

        article
            height: 200px
            max-height: 200px
            background-color: $black
            margin: 10px 0
            
            

        img
            width: 100%
            height: auto
            
        .dato
            margin-left: 0


        .medarbejder
            color: $white
            margin-left: 5px

        .dato_medarbejder
            width: 100%
            position: absolute
            bottom: 0

            p:last-child
                span
                    display: none

            p
                font-weight: 800
                font-size: 0.750rem

            .dato
                float: right

           
// ----- Video - arkiv -----//

#videoer, #blog


    .arkiv_indhold

        .playIkon
            position: absolute
            left: 0
            right: 0
            margin: auto
            width: 20%
            top: 0
            bottom: 0
            border-radius: 50%
            box-shadow: 0 0 20px 15px rgba(0,0,0,0.50)
        

        h3, p, h4
            color: $white
            text-decoration: none

        h2
            background-color: $black_dark
            color: $white


        
    .artikler, .podcasts



        a
            text-decoration: none
            

        article
            background-color: $black
            margin: 10px 0


            

        img
            margin: 0
            padding: 0
            border: none
            width: 100%
            height: auto

            

        .medarbejder
            margin-left: 5px
            

        .dato_medarbejder

            position: absolute
            bottom: 0

            p
                font-weight: 800
                font-size: 0.875rem


    .post_nav
        color: $white
        text-align: center
        padding: 30px

        a
            background-color: $gul
            color: $white
            padding: 15px 20px
            margin: 0 20px 50px


            &:hover
                background-color: $gul_light

        


.cta_btn:hover, a.cta_btn:hover 
    background-color: $gul_light
    border: 3px solid $gul_light
        

// ----- Single - video  -----//

#single_video, #single_blog

    

    .video

        iframe
            width: 100%
            height: 620px

    .beskrivelse
        background-color: $black
        color: $white

    .video_fakta
        background-color: $black_dark
        color: $white

        a
            color: $gul


        .medarbejder

            p
                float: right
                font-size: 0.750rem


        .kategori
            margin: 25px 0
            width: 100%

            p
                color: $white
                font-size: 0.750rem
                font-weight: 300
                margin: 0

            a
                font-size: 0.875rem
                font-weight: 600

            p, a
                float: right
                clear: both

            

            img
                

    .social_share
        p
            float: right
            font-size: 0.750rem
            font-weight: 300
            margin: 0 !important

    .social_share_a

        img
            width: 40px


// ----- Single - team  -----//

#single_team
    background-color: $white

    .team_info
        background-color: $grey_light

        img
            border-radius: 50%
            margin-bottom: 25px

        h1
            margin: 0

        h4
            font-weight: 300
            margin: 15px 0 25px

        p
            font-size: 1rem
            padding: 0 100px
            margin: 25px 0 


    .team_4_hurtige
            

    

        figure
            margin-right: 20px
            
            img
                max-width: 80px
                margin: auto
                display: block

        .text




// ----- Single - blog  -----//


#single_blog


// ----- Comments -----//

#fb_comment
    background-color: $white

// ----- Om os -----//

#omos
    background-color: $white


    img
        margin-bottom: 10px


// ---- Team ----//

.team
    background-color: $grey_light

    a
        padding: 10px
        color: $black
        border-radius: 100px
        max-width: 150px
        margin: 10px auto
        border: 1px solid $black
        text-decoration: none
        -webkit-transition: all .2s ease-out
        -o-transition: all .2s ease-out
        transition: all .2s ease-out


        &:hover
            background-color: $black
            color: $white

    h5
        margin-top: 10px
            

    h5, h7
        color: $black
        text-decoration: none


// ----- Footer -----//
#footer
    color: $white
    font-size:  0.75rem
    background-color: $black_dark
    
    a
        color: $gul


.scrollup
    display: none
    z-index: 199
    width: 40px
    height: 40px
    position: fixed
    bottom: 2%
    right: 2%
    background: $gul
    color: $white
    font-size: 2rem
    text-align: center
    transition: 1s
    padding: 3px
    -webkit-transition-duration: 0.4s
    -moz-transition-duration: 0.4s
    transition-duration: 0.4s
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)
    box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.3)




// ----- Fonts -----//
h1
  color: $black
  font-size: 2rem
  margin-bottom: 40px
h2
  font-size: 2rem
  font-weight: 700
  text-align: center
  padding-bottom: 25px 

h3
  font-size: 1.25rem
  font-weight: 700


h4 
  font-size: 1.125rem
  font-weight: 700 

p
  font-size: 0.875rem
  line-height: 1.8
  font-weight: 300
  font-family: $font_p


// ----- Padding & margin -----//
.padding25
  padding: 25px 0

.padding50
  padding: 50px 0

.padding75
  padding: 75px 0 

.padding100
  padding: 100px 0 

.padall25
    padding: 25px

.padall50
  padding: 50px 

.padall75
  padding: 75px 

.padall100
  padding: 100px 


.margin25
    margin: 25px 0

.margin50
    margin: 50px 0

.margin75
    margin: 75px 0


// ----- Overlays -----//

.overlay
    position: absolute
    top: 0px
    float: left
    bottom: 0px
    min-width: 100%
    overflow: hidden
    z-index: 5

.overlay.purpleG 
    background: linear-gradient(right, $purple1_g , $purple2_g) 
    background: -webkit-linear-gradient(right, $purple1_g , $purple2_g)



.overlay.blueG 
    background: linear-gradient(right, rgba(59, 189, 152, 0.7), rgba(65, 65, 146, 0.7)) 
    background: -webkit-linear-gradient(right, rgba(59, 189, 152, 0.7), rgba(65, 65, 146, 0.7))

.overlay.pinkG 
    background: linear-gradient(right, rgba(150, 21, 65, 0.7), rgba(224, 109, 138, 0.7)) 
    background: -webkit-linear-gradient(right, rgba(150, 21, 65, 0.7), rgba(224, 109, 138, 0.7))

.overlay.redG 
    background: linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(225, 97, 74, 0.7))
    background: -webkit-linear-gradient(right, rgba(203, 19, 55, 0.7), rgba(225, 97, 74, 0.7))

.overlay.orangeG 
    background: linear-gradient(right, rgba(235, 90, 51, 0.7), rgba(227, 177, 60, 0.7))
    background: -webkit-linear-gradient(right, rgba(235, 90, 51, 0.7), rgba(227, 177, 60, 0.7))

.overlay.yellowG 
    background: linear-gradient(right, rgba(253, 195, 11, 0.7), rgba(250, 220, 150, 0.7))
    background: -webkit-linear-gradient(right, rgba(253, 195, 11, 0.7), rgba(250, 220, 150, 0.7))

.overlay.greenG 
    background: linear-gradient(right, rgba(37, 210, 30, 0.7), rgba(159, 222, 67, 0.7))
    background: -webkit-linear-gradient(right, rgba(37, 210, 30, 0.7), rgba(159, 222, 67, 0.7))



.overlay.blue 
    background: rgba(59, 89, 152, 0.75) 

.overlay.purple
    background: rgba(92, 23, 70, 0.75)

.overlay.pink 
    background: rgba(150, 21, 65, 0.75)

.overlay.red 
    background: rgba(203, 19, 55, 0.75)

.overlay.orange 
    background: rgba(235, 90, 51, 0.75)

.overlay.yellow
    background: rgba(253, 195, 11, 0.75)

.overlay.green
    background: rgba(57, 210, 30, 0.7)










  

// ----- Colors -----//

.facebook-bgcolor
    background-color: #3b5998 !important

.facebook-color
    color: #3b5998 !important

.twitter-bgcolor
    background-color: #00aced !important

.twitter-color
    color: #00aced !important

.youtube-bgcolor
    background-color: #FF0000 !important

.youtube-color
    color: #FF0000 !important

.itunes-bgcolor
    background-color: #be64f7 !important

.itunes-color
    color: #be64f7 !important
 


    
// ----- Knapper -----//
	
.cta_btn, a.cta_btn
    background-color: $gul
    color: $white
    border: 3px solid $gul
    text-decoration: none
    padding: 15px 60px
    margin: 20px 10px 20px 0px
    font-size: 16px
    cursor: pointer
    font-style: normal
    font-weight: 400
    line-height: 1.6em
    letter-spacing: .02em
    border-radius: 5px
    transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.cta_btn:hover, a.cta_btn:hover 
    background-color: $gul_light
    border: 3px solid $gul_light


.cta_btn.cta_btn_2, a.cta_btn.cta_btn_2 
    background: 0
    color: $white
    border: 3px solid $gul

	
.cta_btn.cta_btn_2:hover, a.cta_btn.cta_btn_2:hover 
    background-color: $gul_light
    border: 3px solid $gul_light

	

// ----- Custom classes -----//
.nospace 
   padding: 0!important
   margin: 0!important
 
.cta
  padding: 15px 20px
  color: $white
  background-color: $black
  box-shadow: 0 0.25em 0 0 #2a2a2a, 0 4px 9px rgba(0,0,0,0.75)
  border-radius: 0.25em

section
    min-width: 100%
    max-width: 100%
    position: relative
    padding: 75px 0
  

.screen-reader-text
    display: none

.searchform
    margin: 0
    padding: 0

._5lm5._2pi3._3-8y
    display: none !important


.slick-dots
    
    button
        &:before
            color: $gul !important


.mobilmenu-ms.open
    background-color: $black_dark