.head .mobilmenu {
  	z-index: 999;
}

#mobilmenu {
position: fixed; 
height: 100%;
width: 100%;
color:#fff;
padding: 50px;
text-align: center;
z-index: 999;
top: 0;
bottom: 0;
left:0;
right: 0;
    visibility: hidden;
  opacity:0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
			  transition-delay: 0.4s;	

}

#mobilmenu.aktiv-menu{
    opacity: 0;
    visibility: visible;
		  transition-delay: 0.0s;	
}

  #mobilmenu li a {
   font-size: 2em;
   font-weight: 300;
   line-height: 2;
   color: #fff;
   text-decoration: none;
   border-bottom: 2px solid transparent;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;  
   }  
     
    #mobilmenu li a:hover {
       border-bottom:2px solid #fff;
     }
	 
	 
	 /*--------------------------------------------------------------
Top menu
--------------------------------------------------------------*/


 
.mainmenu  .hamburger.rotate  {
 transform: rotate(-180deg);
 }
 
 .mainmenu  .hamburger.stick  {
 transform: rotate(-180deg) !important;

 }
 
 .mainmenu  .hamburger{
 transform: rotate(0deg);
 }

 body.push {
left: -70%;
}

body {
left: 0px;
position: relative;
	   -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s  ease-in-out;
    -ms-transition: all 1s  ease-in-out;
    -o-transition: all 1s  ease-in-out;
    transition: all 1s  ease-in-out;
}

.wrap-menu.sidemenu .ms_menu li, .mobilmenu-ms .ms_menu li {
    vertical-align: middle;
    display: block;
    min-width: 100%;
    text-align: center;
    padding: 5px 0;
}

  .sub-menu li {
    padding: 0px !important;
  }
  

.wrap-menu.sidemenu .ms_menu, .mobilmenu-ms .ms_menu {
    padding: 10% 0;
}

.wrap-menu.sidemenu .ms_menu.socialmenu li,.mobilmenu-ms .ms_menu.socialmenu li{
 display: inline-block !important;
    min-width: initial;
    float: none;
}

.wrap-menu.sidemenu .ms_menu.socialmenu, .mobilmenu-ms .ms_menu.socialmenu {
    position: absolute;
    bottom: 0px;
    display: block;
    margin: auto;
    min-width: 100%;
    text-align: center;
    margin: 50px 0px;
}


  .wrap-menu.sidemenu.open , .mobilmenu-ms.open{
right: 0px;   
}

  .wrap-menu.sidemenu, .mobilmenu-ms {
   right:-70%;
    width: 70%;
      position: fixed;
    height: 100%;
    top: 0px;
 	   -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s  ease-in-out;
    -ms-transition: all 1s  ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s  ease-in-out;
    
}

	 
	.mainmenu .hamburger { 
    padding: 15px;
    top: -15px;
    position: relative;
}

.mainmenu  .hamburger .line {
background-color: #000000;
}

/*
.wrapper-menu   .ms_menu li:nth-child(1) {
transition-delay: 0.2s;
}

.wrapper-menu   .ms_menu li:nth-child(2) {
transition-delay: 0.4s;
}

.wrapper-menu   .ms_menu li:nth-child(3) {
transition-delay: 0.6s;
}

.wrapper-menu .ms_menu li:nth-child(4) {
transition-delay: 0.8s;
}

.wrapper-menu   .ms_menu li:nth-child(5) {
transition-delay: 1.0s;
}

.wrapper-menu   .socialmenu {
transition-delay: 1.2s;
}

.wrapper-menu  .ms_menu.socialmenu li:nth-child(1) {
transition-delay: 1.4s;
}

.wrapper-menu   .ms_menu.socialmenu li:nth-child(2) {
transition-delay: 1.6s;
}

.wrapper-menu  .ms_menu.socialmenu li:nth-child(3) {
transition-delay: 1.8s;
}*/


.mobilmenu-ms .ms_menu li a {
color: #fff !important;
    padding: 15px;
}

	 .mobilmenu-ms .ms_menu li:hover ul {
    min-height: 75px;
    max-height: 1000px;
    transition: all 2s ease-in-out 0s;
}


.mobilmenu-ms .ms_menu li ul {
    position: relative;
    background: transparent;
    margin: 0px 0px;
    padding: 0px 0px 0px;
    transition: all 5s ease-in-out 0.5s;
    min-width: auto;
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    max-width: 200px;
    margin: auto;
}

.mobilmenu-ms .ms_menu li ul li a {
    display: block;
    font-size: 0.7rem;
    min-width: 100%;
    color: #fff !important;
    padding: 5px;
}

.mobilmenu-ms .ms_menu ul {
  padding: 0;
}


/*--------------------------------------------------------------
Hamburger styling
--------------------------------------------------------------*/
/* ALL */

.row .three{
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  color: #fff;
  text-align: center;
}
.hamburger {
  z-index: 99999;
  margin: 10px 0px;
}
  
.hamburger .line{
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}


/* THREE */

#hamburger-3.is-active .line:nth-child(1),
#hamburger-3.is-active .line:nth-child(3){
  width: 26px;
}

#hamburger-3.is-active .line:nth-child(1){
  -webkit-transform: translateX(-11px) rotate(-45deg);
  -ms-transform: translateX(-11px) rotate(-45deg);
  -o-transform: translateX(-11px) rotate(-45deg);
  transform: translateX(-11px) rotate(-45deg);
}

#hamburger-3.is-active .line:nth-child(3){
  -webkit-transform: translateX(-11px) rotate(45deg);
  -ms-transform: translateX(-11px) rotate(45deg);
  -o-transform: translateX(-11px) rotate(45deg);
  transform: translateX(-11px) rotate(45deg);
}

/* FOUR */

#hamburger-4.is-active .line:nth-child(1),
#hamburger-4.is-active .line:nth-child(3){
  width: 26px;
}

#hamburger-4.is-active .line:nth-child(1){
  -webkit-transform: translateX(11px) rotate(45deg);
  -ms-transform: translateX(11px) rotate(45deg);
  -o-transform: translateX(11px) rotate(45deg);
  transform: translateX(11px) rotate(45deg);
}

#hamburger-4.is-active .line:nth-child(3){
  -webkit-transform: translateX(11px) rotate(-45deg);
  -ms-transform: translateX(11px) rotate(-45deg);
  -o-transform: translateX(11px) rotate(-45deg);
  transform: translateX(11px) rotate(-45deg);
}

